.box1{
    padding:90px;
    margin: 20px;
    border-width: 2px;
    display:inline-block;
    margin-left: 80px;
    box-shadow: 0 0 15px black;
    height: 90px;
    width:200px;
    border-radius: 20px;
    background-color: rgb(117, 189, 213);
    transition:transform 0.3s ease;
}
.box2{
    padding:90px;
    margin:40px;
    border-width: 2px;
    display: inline-block;
    box-shadow: 0 0 15px black;
    height: 90px;
    width:200px;
    border-radius: 20px;
    background-color: rgb(117, 189, 213);
    transition:transform 0.3s ease;

}
.box3{
    padding:90px;
    margin: 20px;
    border-width: 2px;
    display: inline-block;
    box-shadow: 0 0 15px black;
    height: 90px;
    width:200px;
    border-radius: 20px;
    background-color: rgb(117, 189, 213);
    transition:transform 0.3s ease;

}
.box3:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);

}
.box2:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
.box1:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
body{
    background-color: rgb(180, 219, 219);
}
h3{
    text-align: center;
}
p{
    margin: 10px;
    text-align: center;
}
button{
    width: 60%;
    padding: 10px;
    background: #007bff;
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-size: 12px;
    margin-left: 40px;
}
button:hover{
    background-color: rgb(221, 227, 228);
    cursor: pointer;
}
.table-head{
    background: #007bff;
    color: white;

}
table{
    width: 1400px;
    margin-left: 17px;
    height: 220px;
    background-color: rgb(222, 239, 239);
}
img{
    max-width: 80px;
    padding-left: 60px;
    margin-top: -60px;

}
